@import "tailwindcss";

body {
  @apply bg-neutral-50 text-neutral-900 antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
